@import '../baseVars.scss';

.bh-btn{
    padding: 1em;
    margin-left: .5em;
    margin-right: 1em;
    border: none !important;
    background-color: $redLight !important;
    transition: .3s;
    color: $baseWhite !important;
}

.bh-btn:hover{
    background-color: $redDark !important;
}

.bh-btn-selected {
    .bh-btn{
        background-color: $redDark !important;
    }
}