/*Base Functions*/
/*Basic*/
@mixin SetPosition(
    $display:"",
    $pos:"",
    $margin:"",
    $top:"",
    $left:"",
    $bottom:"",
    $right:"",
    $zindex:""
){
    display:$display;
    position:$pos;
    margin:$margin;
    top:$top;
    left:$left;
    bottom:$bottom;
    right:$right;
    z-index:$zindex;
}

@mixin Set2DTransforms(
    $translate-vals:"",
    $rotate-vals:"",
    $scale-vals:"",
    $skew-vals:"",
    $matrix-vals:""
){
    @if $translate-vals != "" {
        -ms-transform: translate($translate-vals);
        -webkit-transform: translate($translate-vals);
        transform: translate($translate-vals);
    }
    @if $rotate-vals != "" {
        -ms-transform: rotate($rotate-vals);
        -webkit-transform: rotate($rotate-vals);
        transform: rotate($rotate-vals);
    }
    @if $scale-vals != "" {
        -ms-transform: scale($scale-vals);
        -webkit-transform: scale($scale-vals);
        transform: scale($scale-vals);
    }
    @if $skew-vals != "" {
        -ms-transform: skew($skew-vals);
        -webkit-transform: skew($skew-vals);
        transform: skew($skew-vals);
    }
    @if $matrix-vals != "" {
        -ms-transform: matrix($matrix-vals);
        -webkit-transform: matrix($matrix-vals);
        transform: matrix($matrix-vals);
    }
}

@mixin Set3DTransforms(
    $trans-origin:"",
    $perspective-origin:"",
    $backface-vis:"",
    $translate-vals:"",
    $rotate-vals:"",
    $scale-vals:"",
    $skew-vals:"",
    $matrix-vals:""
){
    -ms-transform-origin: $trans-origin;
    -webkit-transform-origin: $trans-origin;
    transform-origin:$trans-origin;

    -webkit-perspective: $perspective-origin;
    -webkit-perspective-origin: $perspective-origin;
    perspective-origin:$perspective-origin;

    -webkit-backface-visibility: $backface-vis;
    backface-visibility:$backface-vis;

    @if $translate-vals != "" {
        -ms-transform: translate($translate-vals);
        -webkit-transform: translate($translate-vals);
        transform: translate($translate-vals);
    }
    @if $rotate-vals != "" {
        -ms-transform: rotate($rotate-vals);
        -webkit-transform: rotate($rotate-vals);
        transform: rotate($rotate-vals);
    }
    @if $scale-vals != "" {
        -ms-transform: scale($scale-vals);
        -webkit-transform: scale($scale-vals);
        transform: scale($scale-vals);
    }
    @if $skew-vals != "" {
        -ms-transform: skew($skew-vals);
        -webkit-transform: skew($skew-vals);
        transform: skew($skew-vals);
    }
    @if $matrix-vals != "" {
        -ms-transform: matrix($matrix-vals);
        -webkit-transform: matrix($matrix-vals);
        transform: matrix($matrix-vals);
    }
}

/*Text*/
@mixin SetTextStyle(
    $txt-size:"",
    $txt-color:"",
    $txt-align:"",
    $txt-decoration:"",
    $txt-transform:"",
    $txt-indent:"",
    $padding:"",
    $spacing:"",
    $line-height:"",
    $txt-dir:"",
    $word-spacing:"",
    $shadow:"",
    $white-space:""
){
    font-size:$txt-size;
    color:$txt-color;
    text-align:$txt-align;
    text-decoration:$txt-decoration;
    text-transform:$txt-transform;
    text-indent:$txt-indent;
    padding:$padding;
    letter-spacing:$spacing;
    line-height:$line-height;
    direction:$txt-dir;
    word-spacing:$word-spacing;
    text-shadow:$shadow;
    white-space:$white-space;
}

@mixin NavbarTextFade(
    $color,
    $size,
    $duration,
    $ease-in-out,
    $delay
){
    color:$color;

    font-size:$size;

    transition: all $duration $ease-in-out $delay;
    -webkit-transition: all $duration $ease-in-out $delay;
}

@mixin FadeText(
    $color,
    $duration,
    $ease-in-out,
    $delay
){
    color:$color;

    transition: all $duration $ease-in-out $delay;
    -webkit-transition: all $duration $ease-in-out $delay;
}

@mixin FadeBoldText(
    $color,
    $weight,
    $duration,
    $ease-in-out,
    $delay
){
    color:$color;
    font-weight:$weight;

    transition: all $duration $ease-in-out $delay;
    -webkit-transition: all $duration $ease-in-out $delay;
}


/*Buttons*/
@mixin SetButtonStyle(
    $bg-color:"",
    $border:"",
    $font-size:"",
    $txt-color:"",
    $txt-align:"",
    $txt-decoration:"",
    $padding:""
){
    background-color:$bg-color;
    border:$border;
    font-size:$font-size;
    color:$txt-color;
    text-decoration:$txt-decoration;
    padding:$padding;
}

@mixin FadingGradientButton(
    $color,
    $opacity,
    $duration,
    $ease-in-out,
    $delay
){
    background: linear-gradient($color);
    background: -webkit-linear-gradient($color);
    background: -o-linear-gradient($color);
    background: -moz-linear-gradient($color);

    opacity:$opacity;

    transition: all $duration $ease-in-out $delay;
    -webkit-transition: all $duration $ease-in-out $delay;
}

@mixin FadeSlideButton(
    $shadow-form,
    $horz-shadow,
    $vert-shadow,
    $blur-dist,
    $spread-size,
    $color,
    $duration,
    $ease-in-out,
    $delay
){
    box-shadow: $shadow-form $horz-shadow $vert-shadow $blur-dist $spread-size $color;

    transition: all $duration $ease-in-out $delay;
    -webkit-transition: all $duration $ease-in-out $delay;
}

@mixin FadeOpacityButton(
    $opacity,
    $duration,
    $ease-in-out,
    $delay
){
    opacity: $opacity;

    transition: all $duration $ease-in-out $delay;
    -webkit-transition: all $duration $ease-in-out $delay;
}
/*Jumotron Functions*/
@mixin SetJumbotron($size, $border-color){
    border-bottom:5px solid $border-color;
    min-height:$size !important;
}

/*Footer Functions*/
@mixin SetNavbarNav($float, $display){
    float:$float;
    display:$display;
}

/*News Functions*/
@mixin SetNewsMargins($margin){
    margin:$margin;
}

@mixin SetNewsTitle($height, $overflow){
    height:$height;
    overflow:$overflow;
}

@mixin SetTitleBG($width, $height, $bg-pos, $size, $index, $pos){
    width:$width;
    height:$height;
    background-position:$bg-pos;
    background-size:$size;
    z-index:$index;
    position:$pos;
}

@mixin SetBGMediaAfter($bg-color, $bg-img){
    background-color:$bg-color;
    background-image:linear-gradient($bg-img);
    background-image:-webkit-linear-gradient($bg-img);
    background-image:-o-linear-gradient($bg-img);
    background-image:-moz-linear-gradient($bg-img);
}

@mixin SetBGMediaHover($scale, $filter-string:"", $filter:""){
    transform: $scale;
    -moz-transform: $scale;
    -webkit-transform: $scale;
    -o-transform: $scale;
    -ms-transform: $scale;
    -ms-filter: $filter-string;
    filter: $filter;
}

@mixin SetNewsTypeStyle(
    $bg-color:"",
    $font-size:"",
    $txt-align:"",
    $width:"",
    $height:"",
    $border-rad:"",
    $color:""
){
    background-color:$bg-color;
    font-size:$font-size;
    text-align:$txt-align;
    width:$width;
    height:$height;
    border-radius:$border-rad;
    color:$color;
}


//Social Media Animation
@mixin ExtendButtonHorzontal(
    $ani-duration:"",
    $ani-timing-funct:"",
    $ani-fill-mode:"",
    $btn-marginL-start:"",
    $btn-marginL-end:"",
    $btn-opacity-start:"",
    $btn-opacity-end:""
){
    -webkit-animation-name:animateBtn;
    -webkit-animation-duration:$ani-duration;
    -webkit-animation-timing-function: $ani-timing-funct;
    -webkit-animation-fill-mode: $ani-fill-mode;
    -o-animation-name:animateBtn;
    -o-animation-duration:$ani-duration;
    -o-animation-timing-function: $ani-timing-funct;
    -o-animation-fill-mode: $ani-fill-mode;
    -moz-animation-name:animateBtn;
    -moz-animation-duration:$ani-duration;
    -moz-animation-timing-function: $ani-timing-funct;
    -moz-animation-fill-mode: $ani-fill-mode;
    animation-name:animateBtn;
    animation-duration:$ani-duration;
    animation-timing-function: $ani-timing-funct;
    animation-fill-mode: $ani-fill-mode;

    @keyframes animateBtn{
        0%{margin-left:$btn-marginL-start; opacity:$btn-opacity-start; }
        100%{margin-left:$btn-marginL-end; opacity:$btn-opacity-end; }
    }
}

@mixin ExtendButtonVertical(
    $ani-duration:"",
    $ani-timing-funct:"",
    $ani-fill-mode:"",
    $btn-marginT-start:"",
    $btn-marginT-end:"",
    $btn-opacity-start:"",
    $btn-opacity-end:""
){
    -webkit-animation-name:animateBtn;
    -webkit-animation-duration:$ani-duration;
    -webkit-animation-timing-function: $ani-timing-funct;
    -webkit-animation-fill-mode: $ani-fill-mode;
    -o-animation-name:animateBtn;
    -o-animation-duration:$ani-duration;
    -o-animation-timing-function: $ani-timing-funct;
    -o-animation-fill-mode: $ani-fill-mode;
    -moz-animation-name:animateBtn;
    -moz-animation-duration:$ani-duration;
    -moz-animation-timing-function: $ani-timing-funct;
    -moz-animation-fill-mode: $ani-fill-mode;
    animation-name:animateBtn;
    animation-duration:$ani-duration;
    animation-timing-function: $ani-timing-funct;
    animation-fill-mode: $ani-fill-mode;

    @keyframes animateBtn{
        0%{margin-top:$btn-marginT-start; opacity:$btn-opacity-start; }
        100%{margin-top:$btn-marginT-end; opacity:$btn-opacity-end; }
    }
}