@import "../../_functions.scss";
@import "../../_variables.scss";

.col-md-3{
    .nav-links{
        margin-top:8%;
        padding:4%;
        border-top:2px solid $red;
        border-bottom:2px solid $red;
    }
}
