@import "../../_functions.scss";
@import "../../_variables.scss";

.event-teasers-container{
    background-color:#000; 
    /*
    TODO: Hook this up so there's a bg img that spans over the whole div
            
    background-image:url();
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;*/
    width:100%;
}
