<nav id="sidebar">
    <ul class="list-unstyled components">
        <li>
            <a href="#"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-people-arrows"></i> Loans</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-users"></i> Customers</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-wallet"></i> Payments</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-money-bill-wave"></i> Invoices</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-money-check"></i> Plans</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-chart-bar"></i> Reports</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-cogs"></i> Settings</a>
        </li>
    </ul>
    <ul class="list-unstyled CTAs">
        <li>
            <p>You are Logged in as: <br> User Name</p>
        </li>
    </ul>
</nav>
