@import './baseVars.scss';

.app-Modal{
    width: 70vw !important;
    max-width: 90vw !important;
    top: 1em !important;
    .location-div {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        .location-input-div, .location-map-div {
            width: 50%;
        }
        .location-map-div {
            background-color: $baseBlack;
            height: 50vh;
            margin-left: 1em;
        }
    }
}