@import "../../_functions.scss";
@import "../../_variables.scss";

@media (max-width: 319px)  {
     #achievement-carousel{
        h5{
            color:$red;
            text-align: center;
            font-weight: 600;
            font-size: 12px;
        }

        .owl-item{
            height:auto;
        }

        a:hover{
            h5{
                color:$dark-red;
            }
        }

        .owl-item:hover {
            cursor: zoom-in;
        }
    }
}

@media (min-width: 320px) and (max-width: 374px)  {
     #achievement-carousel{
        h5{
            color:$red;
            text-align: center;
            font-weight: 600;
            font-size: 12px;
        }

        .owl-item{
            height:auto;
        }

        a:hover{
            h5{
                color:$dark-red;
            }
        }

        .owl-item:hover {
            cursor: zoom-in;
        }
    }
}

@media (min-width: 375px) and (max-width: 424px)  {
     #achievement-carousel{
        h5{
            color:$red;
            text-align: center;
            font-weight: 600;
            font-size: 12px;
        }

        .owl-item{
            height:auto;
        }

        a:hover{
            h5{
                color:$dark-red;
            }
        }

        .owl-item:hover {
            cursor: zoom-in;
        }
    }
}

@media (min-width: 425px) and (max-width: 767px)  {
    #achievement-carousel{
        h5{
            color:$red;
            text-align: center;
            font-weight: 600;
            font-size: 16px;
        }

        .owl-item{
            height:auto;
        }

        a:hover{
            h5{
                color:$dark-red;
            }
        }

        .owl-item:hover {
            cursor: zoom-in;
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) { 
  #achievement-carousel{
        h5{
            color:$red;
            text-align: center;
            font-weight: 600;
            font-size: 19px;
        }

        .owl-item{
            height:auto;
        }

        a:hover{
            h5{
                color:$dark-red;
            }
        }

        .owl-item:hover {
            cursor: zoom-in;
        }
    }
}

@media(min-width: 1024px) and (max-width: 1439px){
   #achievement-carousel{
        h5{
            color:$red;
            text-align: center;
            font-weight: 600;
            font-size: 24px;
        }

        .owl-item{
            height:auto;
        }

        a:hover{
            h5{
                color:$dark-red;
            }
        }

        .owl-item:hover {
            cursor: zoom-in;
        }
    }
}

@media(min-width: 1440px) and (max-width: 2559px){
   #achievement-carousel{
        h5{
            color:$red;
            text-align: center;
            font-weight: 600;
            font-size: 24px;
        }

        .owl-item{
            height:auto;
        }

        a:hover{
            h5{
                color:$dark-red;
            }
        }

        .owl-item:hover {
            cursor: zoom-in;
        }
    }
}

@media (min-width: 2560px) { 
   #achievement-carousel{
        h5{
            color:$red;
            text-align: center;
            font-weight: 600;
            font-size: 24px;
        }

        .owl-item{
            height:auto;
        }

        a:hover{
            h5{
                color:$dark-red;
            }
        }

        .owl-item:hover {
            cursor: zoom-in;
        }
    }
}



