@import "../../_functions.scss";
@import "../../_variables.scss";

.author{
    .author-body{
        display:flex;
        flex-direction:column;
        a{
            cursor:pointer;
        }
        hr{
            border:.5px solid $filter-item-hr;
        }

        .author-p{
            min-height:72px;
            margin:initial;
        }

        .all-auth-btn{
            color:$red;
            background-color:transparent;
        }

        .all-auth-btn:hover{
            color:$font-color-white !important;
            background-color:$red;
        }
    }
}
