@import "../../_functions.scss";
@import "../../_variables.scss";

.filters-button-group{
    .btn:hover, 
    .btn:active{
        border:2px solid $filter-border-color !important;
        background-color:#e0e0e0;
    }
}

@media (max-width: 389px){
    .sort-by-dropdown{
        display:inherit;
        margin-top: 1%;
        margin-bottom: 1%;

        h4{
            color:$filter-font-color;
            margin-right: 2%;
            margin-left: 42%;
        }

        .filter-select{
            background: transparent;
            color:#585858;
            border:2px solid #a9a9a9;
            font-weight: bold;
            padding: 10px;
            padding-right: 65px;
            margin-left: 29%;
        }
    }

    .sort-by-buttons{
        display: inline;
        margin-bottom:3%;
        
            h4{
                color:$filter-font-color;
                text-align:center;
            }
        .filters-button-group{
            display:flex;
            justify-content:center;
            flex-wrap:wrap;
            .btn{
                border: 2px solid $filter-border-color;
                padding: 10px;
                width: 100%;
                margin-right:1%;
                font-size:12px;
                color:$filter-btn-hover-color;
                margin-bottom:1%;
            }
        }
    }
}

@media (min-width: 390px) and (max-width: 460px){
    .sort-by-dropdown{
        display:inherit;
        margin-top: 1%;
        margin-bottom: 1%;

        h4{
            color:$filter-font-color;
            margin-right: 2%;
            margin-left: 42%;
        }

        .filter-select{
            background: transparent;
            color:#585858;
            border:2px solid #a9a9a9;
            font-weight: bold;
            padding: 10px;
            padding-right: 65px;
            margin-left: 29%;
        }
    }

    .sort-by-buttons{
        display: inline;
        margin-bottom:3%;
        
            h4{
                color:$filter-font-color;
                text-align:center;
            }
        .filters-button-group{
            display:flex;
            justify-content:center;
            flex-wrap:wrap;
            .btn{
                border: 2px solid $filter-border-color;
                padding: 10px;
                width: 40%;
                margin-right:1%;
                font-size:12px;
                color:$filter-btn-hover-color;
                margin-bottom:1%;
            }

        }
    }
}

@media (min-width: 461px) and (max-width: 600px){
    .sort-by-dropdown{
        display:inherit;
        margin-top: 1%;
        margin-bottom: 1%;

        h4{
            color:$filter-font-color;
            margin-right: 2%;
            margin-left: 42%;
        }

        .filter-select{
            background: transparent;
            color:#585858;
            border:2px solid #a9a9a9;
            font-weight: bold;
            padding: 10px;
            padding-right: 65px;
            margin-left: 29%;
        }
    }

    .sort-by-buttons{
        display: inline;
        margin-bottom:3%;
        
            h4{
                color:$filter-font-color;
                text-align:center;
            }
        .filters-button-group{
            display:flex;
            justify-content:center;
            flex-wrap:wrap;
            .btn{
                border: 2px solid $filter-border-color;
                padding: 10px;
                width: 30%;
                margin-right:1%;
                font-size:12px;
                color:$filter-btn-hover-color;
                margin-bottom:1%;
            }
        }
    }
}


@media (min-width:601px) and (max-width:900px){
    .sort-by-dropdown{
        display:inherit;
        margin-top: 1%;
        margin-bottom: 1%;

        h4{
            color:$filter-font-color;
            margin-right: 2%;
            margin-left: 42%;
        }

        .filter-select{
            background: transparent;
            color:#585858;
            border:2px solid #a9a9a9;
            font-weight: bold;
            padding: 10px;
            padding-right: 65px;
            margin-left: 29%;
        }
    }

    .sort-by-buttons{
        display: inline;
        margin-bottom:3%;

        h4{
            color:$filter-font-color;
            text-align:center;
        }
        .filters-button-group{
            display:flex;
            justify-content:center;
            flex-wrap:wrap;
            .btn{
                border: 2px solid $filter-border-color;
                padding: 10px;
                width: 35%;
                margin-right: 1%;
                font-size:12px;
                color:$filter-btn-hover-color;
                margin-bottom:1%;
            }
        }
    }
}

@media (min-width:901px){
    .sort-by-dropdown{
        display:inherit;
        margin-top: 1%;
        margin-bottom: 1%;

        h4{
            color:$filter-font-color;
            margin-right: 2%;
            margin-left: 42%;
        }

        .filter-select{
            background: transparent;
            color:#585858;
            border:2px solid #a9a9a9;
            font-weight: bold;
            padding: 10px;
            padding-right: 65px;
            margin-left: 29%;
        }
    }

    .sort-by-buttons{
        display: inline;
        margin-bottom:3%;

        h4{
            color:$filter-font-color;
            text-align:center;
        }
        .filters-button-group{
            display:flex;
            justify-content:center;
            flex-wrap:wrap;
            .btn{
                border: 2px solid $filter-border-color;
                padding: 10px;
                width: 18%;
                margin-right: 1%;
                font-size:14px;
                color:$filter-btn-hover-color;
                margin-bottom:1%;
            }
        }
    }
}

