@import "../../_functions.scss";
@import "../../_variables.scss";

@media (max-width: 320px)  {
    .ev-results{
        .race-item{
            border: 1px solid $filter-item-hr;
            margin: 15px 0;
            background-color: $filter-item-bg;
            width: 100%;

            h3{
                font-size: 20px;
                text-align:center;
                color:$filter-font-color;
                padding-top:5%;
            }

            hr{
                border-color:$filter-item-hr;
                width:95%;
                margin-left: 2.5%;
            }

            p{
                font-size: 16px;
                text-align: center;
                padding-top: 3%;
            }

            .btn{
                margin-bottom: 16px;
                font-size: 12px;
                width:100%;
                text-transform:uppercase;
            }

            .reg-btn{
                background: $red;
                color:#fff;
                padding: 2%;
                font-weight:bold;
            }

            .details-btn{
                background: $filter-border-color;
                color:#fff;
                padding: 2% 3%;
                font-weight:bold;
            }
        }
    }
}

@media (min-width:321px) and (max-width: 719px){
    .ev-results{
        .race-item{
            border: 1px solid $filter-item-hr;
            margin: 15px 0;
            background-color: $filter-item-bg;
            width: 100%;

            h3{
                font-size: 20px;
                text-align:center;
                color:$filter-font-color;
                padding-top:5%;
            }

            hr{
                border-color:$filter-item-hr;
                width:95%;
                margin-left: 2.5%;
            }

            p{
                font-size: 16px;
                text-align: center;
                padding-top: 3%;
            }

            .btn{
                margin-bottom: 16px;
                font-size: 12px;
                width:49%;
                text-transform:uppercase;
            }

            .reg-btn{
                background: $red;
                color:#fff;
                padding: 2%;
                font-weight:bold;
            }

            .details-btn{
                background: $filter-border-color;
                color:#fff;
                padding: 2% 3%;
                font-weight:bold;
            }
        }
    }
}

@media (min-width: 720px) and (max-width: 959px) { 
  .ev-results{
        .race-item{
            border: 1px solid $filter-item-hr;
            margin: 15px 4px;
            background-color: $filter-item-bg;
            width: 48%;
            float: left;

            h3{
                font-size: 20px;
                text-align:center;
                color:$filter-font-color;
                padding-top:6%;
            }

            hr{
                border-color:$filter-item-hr;
                width:95%;
                margin-left: 2.5%;
            }

            p{
                font-size: 16px;
                text-align: center;
                padding-top: 3%;
            }

            .btn{
                margin-bottom: 16px;
                font-size: 12px;
                width:47.8%;
                text-transform:uppercase;
            }

            .reg-btn{
                background: $red;
                color:#fff;
                margin-right: 3%;
                padding: 2%;
                font-weight:bold;
            }

            .details-btn{
                background: $filter-border-color;
                color:#fff;
                padding: 2% 3%;
                font-weight:bold;
            }
        }
    }
}

@media(min-width: 960px){
   .ev-results{
        .prominent-race{
            background-color: #808080;  //TODO: Change this to a img file call 
            border: 1px solid $filter-item-hr;
            margin: 15px 0;
            height: 18em;

            .prom-race-info {
                background: $filter-item-bg;
                margin-top: 11%;

                h3{
                    font-size: 20px;
                    margin-top: 3%;
                    text-align:center;
                }

                 hr{
                    border-color:$filter-item-hr;
                    width:95%;
                    margin-left: 2.5%;
                }

                 p{
                    font-size: 16px;
                    text-align: center;
                    padding-top: 1%;
                 }

                 .race-loc{
                     text-transform:uppercase;
                     font-weight:bold;
                 }

                 .btn{
                    margin-bottom: 4%;
                    font-size: 12px;
                    width: 48.5%;
                    text-transform: uppercase;
                    margin-top: 4%;
                }

                .reg-btn{
                    background: $red;
                    color:#fff;
                    margin-right: 0.75%;
                    padding: 2%;
                    font-weight:bold;
                }

                .details-btn{
                    background: $filter-border-color;
                    color:#fff;
                    padding: 2% 3%;
                    font-weight:bold;
                }
            }
        }

        .race-item{
            border: 1px solid $filter-item-hr;
            margin: 15px 4px;
            background-color: $filter-item-bg;
            //width: 23.55%;
            float: left;

            h3{
                font-size: 20px;
                text-align:center;
                color:$filter-font-color;
                padding-top:10%;
            }

            hr{
                border-color:$filter-item-hr;
                width:95%;
                margin-left: 2.5%;
            }

            p{
                font-size: 16px;
                text-align: center;
                padding-top: 3%;
            }

            .btn{
                margin-bottom: 26px;
                font-size: 12px;
                width:48.5%;
                text-transform:uppercase;
            }

            .reg-btn{
                background: $red;
                color:#fff;
                margin-right: 0.75%;
                padding: 2%;
                font-weight:bold;
            }

            .details-btn{
                background: $filter-border-color;
                color:#fff;
                padding: 2% 3%;
                font-weight:bold;
            }
        }
    }
}

/*@media(min-width: 1440px) and (max-width: 2559px){
   .ev-results{
        .race-item{
            border: 1px solid $filter-item-hr;
            margin: 15px 7px;
            background-color: $filter-item-bg;
            width: 23.55%;
            float: left;

            h3{
                font-size: 20px;
                text-align:center;
                color:$filter-font-color;
                padding-top:10%;
            }

            hr{
                border-color:$filter-item-hr;
                width:95%;
                margin-left: 2.5%;
            }

            p{
                font-size: 16px;
                text-align: center;
                padding-top: 3%;
            }

            .btn{
                margin-top:8px;
                margin-bottom: 26px;
                font-size: 12px;
                width:115px;
            }

            .reg-btn{
                background: $red;
                color:#fff;
                margin-right: 3%;
                margin-left: 4.5%;
                padding: 2%;
                font-weight:bold;
            }

            .details-btn{
                background: $filter-border-color;
                color:#fff;
                padding: 2% 3%;
                font-weight:bold;
            }
        }
    }
}

@media (min-width: 2560px) { 
   .ev-results{
        .race-item{
            border: 1px solid $filter-item-hr;
            margin: 15px 7px;
            background-color: $filter-item-bg;
            width: 23.55%;
            float: left;

            h3{
                font-size: 20px;
                text-align:center;
                color:$filter-font-color;
                padding-top:10%;
            }

            hr{
                border-color:$filter-item-hr;
                width:95%;
                margin-left: 2.5%;
            }

            p{
                font-size: 16px;
                text-align: center;
                padding-top: 3%;
            }

            .btn{
                margin-top:8px;
                margin-bottom: 26px;
                font-size: 12px;
                width:115px;
            }

            .reg-btn{
                background: $red;
                color:#fff;
                margin-right: 3%;
                margin-left: 4.5%;
                padding: 2%;
                font-weight:bold;
            }

            .details-btn{
                background: $filter-border-color;
                color:#fff;
                padding: 2% 3%;
                font-weight:bold;
            }
        }
    }
}*/


