@import "../../_functions.scss";
@import "../../_variables.scss";

@media(max-width:549px){
    .modal-body{
        display: table;
        width: 100%;
    }
}
@media(min-width:550px){
    .modal-body{
        display:flex;
    }
}


.modal-header{
    .close{
        border:none;
        background-color:$red;
        color:$font-color-white;
        font-size: 16px;
    }
    .close:hover{
        background-color:$dark-red;
    }
}

@media(max-width:549px){
    .details-info-body{
         display:table-row-group;
    }
    .details-pics-body{
        display:table-header-group;
        .event-pic-carousel-container {
            width: 100%;
            height: 15em;
            background-color:$filter-border-color;
            .event-pic-img{
                width:100%;
                height:100%;
            }
        }
        .carousel-controls-container {
            margin-top:1%;
            height: 3em;
            width: 100%;
            background-color:$filter-border-color;
        }
    }
}
@media(min-width:550px){
    .modal-body{
        display:flex;
    }

    .event-pic-carousel-container {
        height: 85%;
        width: 100%;
        background-color:$filter-border-color;
        .event-pic-img{
            width:100%;
            height:100%;
        }
    }
    .carousel-controls-container {
        margin-top:1%;
        height: 18%;
        width: 100%;
        background-color:$filter-border-color;
    }
}


.details-info-body,
.details-pics-body{
    @media(max-width:474px){
        width:100%;
    }
    @media(min-width:475px){
        width:48%;
    }
    .details-info-div{
        text-align:center;
        
        .details-info-div-header{
            border-bottom:1px solid $filter-border-color;
            h3{
                margin-top: 2%;
                font-weight: 700;
            }
        }
        p{
            margin-bottom: 2%;
            font-size: 16px;
            font-weight: 500;
        }
    }
    .details-info-notes {
        padding: 5% 0%;
    }
}

.details-info-body{
    margin-right:2%;
}

.modal-footer{
    .red-modal-btn,
    .close{
        background-color:$red;
        color:$font-color-white;
        padding: 2% 4%;
        font-size: 16px;
    }
    .red-modal-btn:hover,
    .close:hover{
        background-color:$dark-red;
    }
}