@import "../../_functions.scss";
@import "../../_variables.scss";

@media (max-width: 319px)  {
    footer{
        .navbar-collapse.collapse{
            display: block !important;
        }
        nav{
            text-align:$center-align-text;

            .nav-service{
                margin:0 auto;

                li:nth-child(4), li:nth-child(7){
                    border-left:none;
                }
                li:nth-child(1), li:nth-child(7){
                    margin-left:4%;
                }

                li{
                    a{
                        padding-top:0;
                        padding-bottom:0;
                        padding: 7px 15px;
                    }
                }
            }

            & .navbar-nav{
                @include SetNavbarNav(unset, inline-block);
            }
        }
    
        .logo{
            img{
                height: 40px;
                margin-top:2%;
            }
        
        }
    }
}

@media (min-width: 320px) and (max-width: 374px)  {
    footer{
        .navbar-collapse.collapse{
            display: block !important;
        }
        nav{
            text-align:$center-align-text;

            .nav-service{
                margin:0 auto;

                li:nth-child(4), li:nth-child(7){
                    border-left:none;
                }
                li:nth-child(1), li:nth-child(7){
                    margin-left:4%;
                }

                li{
                    a{
                        padding-top:0;
                        padding-bottom:0;
                        padding: 7px 15px;
                    }
                }
            }

            & .navbar-nav{
                @include SetNavbarNav(unset, inline-block);
            }
        }
    
        .logo{
            img{
                height: 40px;
                margin-top:2%;
            }
        
        }
    }
}

@media (min-width: 375px) and (max-width: 424px)  {
    footer{
        .navbar-collapse.collapse{
            display: block !important;
        }
        nav{
            text-align:$center-align-text;

            .nav-service{
                margin:0 auto;
                margin-left: 10%;

                li:nth-child(4), li:nth-child(7){
                    border-left:none;
                }
                li:nth-child(1), li:nth-child(7){
                    margin-left:4%;
                }
            }

            & .navbar-nav{
                @include SetNavbarNav(unset, inline-block);
            }
        }
    
        .logo{
            img{
                height: 40px;
                margin-top:2%;
            }
        
        }
    }
}

@media (min-width: 425px) and (max-width: 767px)  {
    footer{
        .navbar-collapse.collapse{
            display: block !important;
        }
        nav{
            text-align:$center-align-text;

            .nav-service{
                margin:0 auto;
                margin-left: 16%;

                li:nth-child(4), li:nth-child(7){
                    border-left:none;
                }
                li:nth-child(1), li:nth-child(7){
                    margin-left:4%;
                }
            }

            & .navbar-nav{
                @include SetNavbarNav(unset, inline-block);
            }
        }
    
        .logo{
            img{
                height: 40px;
                margin-top:2%;
            }
        
        }
    }

}

@media(min-width:768px) and (max-width:991px){
    footer{
        .navbar-collapse.collapse{
            display: block !important;
        }
        nav{
            text-align:$center-align-text;

            .nav-service{
                margin:0 auto;
                margin-left: 16%;

                li:nth-child(4), li:nth-child(7){
                    border-left:none;
                }
                li:nth-child(1), li:nth-child(7){
                    margin-left:4%;
                }
            }

            & .navbar-nav{
                @include SetNavbarNav(unset, inline-block);
            }
        }
    
        .logo{
            img{
                height: 40px;
                margin-top:2%;
            }
        
        }
    }
}

@media (min-width: 992px) and (max-width: 1023px) { 
   footer{
       display:flex !important;
        nav{
            text-align:$center-align-text;

            .nav-service{
                li{
                    a{
                        padding-left:inherit;
                        padding: 16%;
                    }
                }
            }
            & .navbar-nav{
                @include SetNavbarNav(unset, inline-block);

            }
        }
    
        .logo{
            img{
                height: 40px;
                margin-top:2%;
            }
        
        }
    }
}

@media(min-width: 1024px) and (max-width: 1439px){
   footer{
        nav{
            text-align:$center-align-text;

            .nav-service{
                li{
                    a{
                        padding: 16%;
                    }
                }
            }
            & .navbar-nav{
                @include SetNavbarNav(unset, inline-block);

            }
        }
    
        .logo{
            img{
                height: 40px;
            }
        
        }
    }
}

@media(min-width: 1440px) and (max-width: 2559px){
   footer{
        nav{
            text-align:$center-align-text;

            & .navbar-nav{
                @include SetNavbarNav(unset, inline-block);
            }
        }
    
        .logo{
            img{
                height: 40px;
            }
        
        }
    }
}

@media (min-width: 2560px) { 
   footer{
        nav{
            text-align:$center-align-text;

            & .navbar-nav{
                @include SetNavbarNav(unset, inline-block);
            }
        }
    
        .logo{
            img{
                height: 40px;
            }
        
        }
    }
}


