@import "../../_functions.scss";
@import "../../_variables.scss";


.title-txt{
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 24px;
    color: #7b7b7b;
    font-weight:bold;
}

.row-txt{
    font-size: 18px;
}

.hotel-header-container{
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-left:0;
}

.hotels-icn{
    color:$red;
    font-size:25px;
    margin-right:10px;
}

.sort-container{
    margin-top:30px;
    margin-bottom:30px;
    padding-left:0;
    .sort-title{
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 12px;
        padding-left:0;
    }

    .hotel-sort-sel,
    .dist-sel{
        @media(max-width:767px){
            margin-top:3%;
            font-size:16px;
        }
        @media(min-width:768px){
            margin-right:3%;
            font-size:16px;
        }
    }

    @media(max-width:767px){
        .reset-btn{
            margin-top:3%;
            font-size: 15px;
            padding: 1% 5%;
        }
    }
    @media(min-width:768px) and (max-width:1143px){
        .reset-btn{
            font-size: 15px;
            padding: 1% 5%;
        }
    }
    @media(min-width:1145px){
        .reset-btn{
            font-size: 14px;
            padding: 1% 5%;
        }
    }
    
}

@media(max-width:639px){
    .legend-container{
        margin-bottom: 30px;
        padding: 22px;
        border: 1px solid #cfcfcf;
        display:flex;
        justify-content:center;
        flex-flow: row wrap;
    
        .legend-cell{
            flex: 1 99%;
            margin: 4%;
        }
    }
}

@media (min-width:640px) and (max-width:1199px){
    .legend-container{
        margin-bottom: 30px;
        padding: 22px;
        border: 1px solid #cfcfcf;
        display:flex;
        justify-content:center;
        flex-flow: row wrap;
    
        .legend-cell{
            flex: 1 40%;
            margin: 1%;
        }
    }
}

@media(min-width:1200px){
    .legend-container{
        margin-bottom: 30px;
        padding: 22px;
        border: 1px solid #cfcfcf;
        display:flex;
        justify-content:center;
        flex-flow: row nowrap;
    }
}



.legend-txt{
    color:#000;
    font-size: 16px;
    margin: 5px 0;
    padding: 0 15px;
}

.legend-icons{
    padding: 6px 10px;
    font-weight:bold;
}

.hq-red{
    color:$font-color-white;
    background-color:$red;
}

.feat-green{
    color:$font-color-white;
    background-color: #8ebda5;
    padding: 6px 12px;
}

.off-black{
    color:$font-color-white;
    background-color: #000;
}

.sl-fl{
    color: #7b7b7b;
    font-weight:bold;
    font-style:italic;
    padding: 6px 2px;
}


.blurb-container{
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #8ebda5;
    background-color: #e5e5e5;
    display:flex;
    justify-content:center;

    .blurb-img-container{
        background-color:#ababab;
        height:85px;
        padding:0;
        .btn-img{
            width:100%;
            height:100%;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    .blurb-txt{
        font-size: 16px;
        font-weight: 500;
        color: #777676;
    }
}
    
.hotel-row-container{
    margin-bottom: 15px;
    padding: 15px 0;
    border-bottom: 1px solid #e5e5e5;
    .hotel-row-img-container{
        height: 15em;
        padding: 0;
        background-color: #e5e5e5;
        border: 1px solid #8ebda5;
        .hotel-row-img{
            width:100%;
            height:100%;
            background-repeat: no-repeat;
            background-position: center center;
        }
        .icon-container-top,
        .icon-container-bottom{
            position:absolute;
            height:30px;
        }

        .icon-container-top{
            top: 3%;
        }

        .icon-container-bottom{
            background-color: white;
            top:85%;
            right:1%;
            .other-icon{
                padding: 9px 4px;
            }
        }
    }

    .dist-list{
        padding:0;
        padding: 2px;
        display: flex;
        flex-flow: row wrap;
        
        @media(max-width:509px){
            .table-cell{
                padding:0;
                font-weight:bold;
                font-size: 18px;
                flex: 1 100%;
                .dist-title{
                    color:#000;
                    margin-right:2%;
                }
                .dist-sl-fl{
                    color: #7b7b7b;
                    font-weight:bold;
                    font-style:italic;
                    margin-right:2%;
                }
            }
        }
        @media(min-width:510px){
            .table-cell{
                padding:0;
                font-weight:bold;
                font-size: 18px;
                flex: 1 48%;
                .dist-title{
                    color:#000;
                    margin-right:2%;
                }
                .dist-sl-fl{
                    color: #7b7b7b;
                    font-weight:bold;
                    font-style:italic;
                    margin-right:2%;
                }
            }
        }
    }
}

    .price-container{
        .price-top-txt{
            font-size:18px;
            font-weight:bold;
            margin-bottom:0;
        }
        .price-txt{
            @media(max-width:767px){
                font-size:32px;
                font-weight:bold;
                color:$red;
                margin-bottom:0;
            }
            @media(min-width:768px) and (max-width:859px){
                font-size:28px;
                font-weight:bold;
                color:$red;
                margin-bottom:0;
            }
            @media(min-width:860px){
                font-size:32px;
                font-weight:bold;
                color:$red;
                margin-bottom:0;
            }
        }
        .special-txt{
            @media(max-width:767px){
                font-size:18px;
                font-weight:bold;
            }
            @media (min-width:768px) and (max-width:859px){
                font-size:12px;
                font-weight:bold;
            }
            @media(min-width:860px) and (max-width:950px){
                font-size:14px;
                font-weight:bold;
            }
            @media(min-width:951px) and (max-width:1039px){
                font-size:16px;
                font-weight:bold;
            }
            @media(min-width:1040px){
                font-size:18px;
                font-weight:bold;
            }
        }
        .details-txt{
            @media(max-width:767px){
                color:$red;
                font-size:18px;
            }
            @media(min-width:768px) and (max-width:851px){
                color:$red;
                font-size:12px;
            }
            @media(min-width:852px) and (max-width:939px){
                color:$red;
                font-size:14px;
            }
            @media (min-width:940px) and (max-width:1027px){
                color:$red;
                font-size:16px;
            }
            @media(min-width:1028px){
                color:$red;
                font-size:18px;
            }
        }
        .details-txt:hover{
            color:$dark-red;
            cursor:pointer;
        }
        .price-btn{
            @media(max-width:767px){
                font-size:14px;
                padding: .75em;
                text-transform:uppercase;
            }
            @media(min-width:768px) and (max-width:954px){
                font-size:10px;
                padding: .25em;
                text-transform:uppercase;
            }
            @media(min-width:955px) and (max-width:1059px){
                font-size:12px;
                padding: .5em;
                text-transform:uppercase;
            }
            @media(min-width:1060px){
                font-size:14px;
                padding: .75em;
                text-transform:uppercase;
            }
        }

        .sold-out-btn{
            @media(max-width:767px){
                @include FadingGradientButton($sold-out-btn-bg, 1, 0, linear, 0);
                color:$font-color-white;
                font-size:14px;
                cursor:auto;
                padding: .75em;
                text-transform: uppercase;
            }
            @media(min-width:768px) and (max-width:954px){
                @include FadingGradientButton($sold-out-btn-bg, 1, 0, linear, 0);
                color:$font-color-white;
                font-size:14px;
                cursor:auto;
                padding: .25em;
                text-transform: uppercase;
            }
            @media(min-width:955px) and (max-width:1059px){
                @include FadingGradientButton($sold-out-btn-bg, 1, 0, linear, 0);
                color:$font-color-white;
                font-size:14px;
                cursor:auto;
                padding: .5em;
                text-transform: uppercase;
            }
            @media(min-width:1060px){
                 @include FadingGradientButton($sold-out-btn-bg, 1, 0, linear, 0);
                color:$font-color-white;
                font-size:14px;
                cursor:auto;
                padding: .75em;
                text-transform: uppercase;
            }
        }

        .sold-out-btn[disabled]:hover{
            color:$font-color-white !important;
        }
    }

    .details-table{
        text-align:center;
        font-size:18px;
        padding:4%;
    }
