@import "../../_functions.scss";
@import "../../_variables.scss";


@media (max-width: 320px)  {
    .page-header{
        .jumbotron.bg-media {
            padding-top:40px;
            padding-bottom:40px;
            min-height:487px;

            h1{
                font-size: 20px !important;
                margin-top: 3%;
            }

            .lead{
                font-size:14px;
            }
        }
    }

    .jumbotron{
        img{
            width: 100%;
            height:auto;
        }
        a.btn.btn-lg{
            width:100%;
            @include SetPosition("","",0 auto,"","","","","");
            font-size: 12px;
            margin:1%;
        }
        
        
    } 
    .jumbotron.text-center{
        h2{
            font-size:30px !important;
        }
    }
}

@media (min-width: 320px) and (max-width: 374px)  {
    .page-header{
        .jumbotron.bg-media {
            padding-top:40px;
            padding-bottom:40px;
            min-height:487px;

            h1{
                font-size: 20px !important;
                margin-top: 3%;
            }

            .lead{
                font-size:14px;
            }
        }
    }

    .jumbotron{

        img{
            width: 100%;
            height:auto;
        }
        a.btn.btn-lg{
            width:100%;
            @include SetPosition("","",0 auto,"","","","","");
            font-size: 14px;
            margin:1%;
        }
    } 

    .jumbotron.text-center{
        h2{
            font-size:30px !important;
        }
    }
}

@media (min-width: 375px) and (max-width: 424px)  {
    .page-header{
        .jumbotron.bg-media {
            padding-top:40px;
            padding-bottom:40px;
            min-height:487px;

            h1{
                font-size: 20px !important;
                margin-top: 3%;
            }

            .lead{
                font-size:14px;
            }
        }
    }

    .jumbotron{

        img{
            width: 100%;
            height:auto;
        }
        a.btn.btn-lg{
            width: 100%;
            @include SetPosition("","",0 auto,"","","","","");
            font-size: 14px;
            margin:1%;
        }
    } 
    .jumbotron.text-center{
        h2{
            font-size:40px !important;
        }
    }
}

@media (min-width: 425px) and (max-width: 639px)  {
    .page-header{
        .jumbotron.bg-media {
            padding-top:40px;
            padding-bottom:40px;
            min-height:487px;

            h1{
                font-size: 23px !important;
                margin-top: 3%;
            }

            .lead{
                font-size:14px;
            }
        }
    }

    .jumbotron{

        img{
            width: 100%;
            height: auto;
        }
        a.btn.btn-lg {
            width: 100%;
            @include SetPosition("","",0 auto,"","","","","");
            font-size: 14px;
            margin:1%;
        }
    } 
    .jumbotron.text-center{
        h2{
            font-size:40px !important;
        }
    }
}

@media (min-width: 640px) and (max-width: 1023px) { 
  .page-header{
        .jumbotron.bg-media {
            padding-top:120px;
            padding-bottom:120px;
            min-height:487px;

            h1{
                font-size: 30px !important;
                margin-top: 3%;
            }

            .lead{
                font-size:16px;
            }
        }
    }

    .jumbotron{

        img{
            width: 100%;
            height:auto;
        }
        a.btn.btn-lg{
            @include SetPosition("","",auto,"","","","","");
            font-size: 12px;
        }
    } 
}

@media(min-width: 1024px) and (max-width: 1439px){
   .page-header{
        .jumbotron.bg-media {
            padding-top:120px;
            padding-bottom:120px;
            min-height:487px;

            h1{
                font-size: 36px !important;
            }

            .lead{
                font-size:16px;
            }
        }
    }

    .jumbotron{
        .btn:first-child{
            margin:0;
        }

        img{
            width: 100%;
            height:auto;
        }
        a.btn.btn-lg{
            @include SetPosition("","",0 auto,"","","","","");
            font-size: 16px;
        }
    } 
}

@media(min-width: 1440px) and (max-width: 2559px){
    .page-header{
        .jumbotron.bg-media {
            padding-top:120px;
            padding-bottom:120px;
            min-height:487px;

            h1{
                font-size: 40px !important;
            }

            .lead{
                font-size:16px;
            }
        }
    }

    .jumbotron{
        .btn:first-child{
            margin:0;
        }

        img{
            width:100%;
            height:auto;
        }
        a.btn.btn-lg{
            @include SetPosition("","", 0 auto,"","","","","");
            font-size: 16px;
        }
    } 
}

@media (min-width: 2560px) { 
    .page-header{
        .jumbotron.bg-media {
            padding-top:120px;
            padding-bottom:120px;
            min-height:487px;

            h1{
                font-size: 40px !important;
            }

            .lead{
                font-size:16px;
            }
        }
    }

    .jumbotron{
        .btn:first-child{
            margin:0;
        }

        img{
            width:100%;
            height:auto;
        }
        a.btn.btn-lg{
            @include SetPosition("","", 0 auto,"","","","","");
            font-size: 16px;
        }
    } 
}
