@import "../../_functions.scss";
@import "../../_variables.scss";


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1002px) { 
    #siteNavbar{
        .nav{
            li{
                color:$text-color;
                @include NavbarTextFade($text-color, 16px, .8s, linear, 0);
                a{
                    padding:10px;
                }

            }
            li:hover{
                @include NavbarTextFade($text-color-hover, 16px, .8s, linear, 0)
            }

            .dropdown:last-child:hover > .dropdown-menu{
                left:-350%;
            }
        }
    }
}

/* Default: 940px and up  */
@media(min-width: 1003px) and (max-width:1209px){

    #siteNavbar{
        .nav{
            li{
                color:$text-color;
                @include NavbarTextFade($text-color, 16px, .8s, linear, 0);
                a{
                    padding:10px;
                }

            }
            li:hover{
                @include NavbarTextFade($text-color-hover, 16px, .8s, linear, 0)
            }

            .dropdown:last-child:hover > .dropdown-menu{
                left:-350%;
            }
        }
    }
   
}


/* Large desktop */
@media (min-width: 1210px) { 
    #siteNavbar{
        .nav{
            li{
                color:$text-color;
                @include NavbarTextFade($text-color, 16px, .8s, linear, 0);
                a{
                    padding:10px;
                }

            }
            li:hover{
                @include NavbarTextFade($text-color-hover, 16px, .8s, linear, 0)
            }
        }
    }
}

