@import "../../_functions.scss";
@import "../../_variables.scss";

@media (max-width: 319px)  {
    .nav-social{
        display:inline-flex;
        .twitter-handle{
            font-size: 21px;
            margin-left: 3%;
        }

        .btn{
            background-color:transparent !important;
            padding: 11%;
            .fa {
                color:$text-color !important;
                font-size: 21px;
                padding-left:0 !important;
            }
        }

        .btn:first-child{
            margin-left: 60%
        }
    }

   .nav-social-extras{
        .btn-block{
            color:$red;
            background-color:transparent;
            text-align:center;
            margin-bottom:1%;
            width:100%;
            text-transform:uppercase;
        }
        .btn-block:hover{
            font-weight:bold;
            background-color:transparent;
            cursor:pointer;
        }
    }
}

@media (min-width: 320px) and (max-width: 345px){
    .nav-social{
        display:inline-flex;
        .twitter-handle{
            font-size: 21px;
            margin-left: 3%;
        }

        .btn{
            background-color:transparent !important;
            padding: 11%;
            .fa {
                color:$text-color !important;
                font-size: 21px;
                padding-left:0 !important;
            }
        }

        .btn:first-child{
            margin-left: 60%
        }
    }

   .nav-social-extras{
        .btn-block{
            color:$red;
            background-color:transparent;
            text-align:center;
            margin-bottom:1%;
            width:100%;
            padding: 1%;
            font-size: 18px;
            text-transform:uppercase;
        }
        .btn-block:hover{
            font-weight:bold;
            background-color:transparent;
            cursor:pointer;
        }
    }
}

@media (min-width: 346px) and (max-width: 374px)  {

    .nav-social{
        display:inline-flex;
        .twitter-handle{
            font-size: 21px;
            margin-left: 3%;
        }

        .btn{
            background-color:transparent !important;
            padding: 11%;
            .fa {
                color:$text-color !important;
                font-size: 21px;
                padding-left:0 !important;
            }
        }

        .btn:first-child{
            margin-left: 60%
        }
    }

    .nav-social-extras{
        .btn-block{
            color:$red;
            background-color:transparent;
            text-align:center;
            margin-bottom:1%;
            width:100%;
            padding: 1%;
            font-size: 22px;
            text-transform:uppercase;
        }
        .btn-block:hover{
            font-weight:bold;
            background-color:transparent;
            cursor:pointer;
        }
    }
}

@media (min-width: 375px) and (max-width: 424px)  {
    .nav-social{
        display:inline-flex;
        .twitter-handle{
            font-size: 24px;
            margin-left: 4%;
        }

        .btn{
            background-color:transparent !important;
            padding: 11%;
            .fa {
                color:$text-color !important;
                font-size: 25px;
                padding-left:0 !important;
            }
        }

        .btn:first-child{
            margin-left: 60%
        }
    }

    .nav-social-extras{
        .btn-block{
            color:$red;
            background-color:transparent;
            text-align:center;
            margin-bottom:1%;
            width:100%;
            padding: 1%;
            font-size: 22px;
            text-transform:uppercase;
        }
        .btn-block:hover{
            font-weight:bold;
            background-color:transparent;
            cursor:pointer;
        }
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    .nav-social{
        display:inline-flex;
        .twitter-handle{
            font-size: 24px;
            margin-left: 4%;
        }

        .btn{
            background-color:transparent !important;
            padding: 11%;
            .fa {
                color:$text-color !important;
                font-size: 25px;
                padding-left:0 !important;
            }
        }

        .btn:first-child{
            margin-left: 60%
        }
    }

    .nav-social-extras{
        .btn-block{
            color:$red;
            background-color:transparent;
            text-align:center;
            margin-bottom:1%;
            width:100%;
            padding: 1%;
            font-size: 26px;
            text-transform:uppercase;
        }
        .btn-block:hover{
            font-weight:bold;
            background-color:transparent;
            cursor:pointer;
        }
    }
}

@media (min-width: 768px) and (max-width: 854px) {
    .nav-social{
        display:inline-flex;
        .twitter-handle{
            font-size: 26px;
            margin-left: 6%;
        }

        .btn{
            background-color:transparent !important;
            padding: 11%;
            .fa {
                color:$text-color !important;
                font-size: 30px;
                padding-left:0 !important;
            }
        }

        .btn:first-child{
            margin-left: 60%
        }
    }

    .nav-social-extras{
        .btn-block{
            color:$red;
            background-color:transparent;
            text-align:center;
            padding: 1%;
            margin-top: 1.5%;
            font-size: 12px;
            text-transform: uppercase;
        }
        .btn-block:hover{
            font-weight:bold;
            background-color:transparent;
            cursor:pointer;
        }
    }
}

@media (min-width: 855px) and (max-width: 925px)  {
    .nav-social{
        display:inline-flex;
        .twitter-handle{
            font-size: 26px;
            margin-left: 6%;
        }

        .btn{
            background-color:transparent !important;
            padding: 11%;
            .fa {
                color:$text-color !important;
                font-size: 30px;
                padding-left:0 !important;
            }
        }

        .btn:first-child{
            margin-left: 60%
        }
    }

    .nav-social-extras{
        .btn-block{
            color:$red;
            background-color:transparent;
            text-align:center;
            padding: 1%;
            margin-top: 1.5%;
            font-size: 16px;
            text-transform: uppercase;
        }
        .btn-block:hover{
            font-weight:bold;
            background-color:transparent;
            cursor:pointer;
        }
    }
}

@media (min-width: 926px) and (max-width: 1023px) { 
  .nav-social{
        display:inline-flex;
        .twitter-handle{
            font-size: 30px;
            margin-left: 6%;
        }

        .btn{
            background-color:transparent !important;
            padding: 11%;
            .fa {
                color:$text-color !important;
                font-size: 34px;
                padding-left:0 !important;
            }
        }

        .btn:hover{
            .fa{
                color:#898989 !important;
            }
        }

        .btn:first-child{
            margin-left: 60%
        }
    }

  .nav-social-extras{
        .btn-block{
            color:$red;
            background-color:transparent;
            text-align:center;
            padding: 1%;
            margin-top: 1.5%;
            font-size: 18px;
            text-transform: uppercase;
        }
        .btn-block:hover{
            font-weight:bold;
            background-color:transparent;
            cursor:pointer;
        }
    }
}

@media(min-width: 1024px) and (max-width: 1439px){
   .nav-social{
        display:inline-flex;
        .twitter-handle{
            font-size: 34px;
            margin-left: 6%;
        }

        .btn{
            background-color:transparent !important;
            padding: 11%;
            .fa {
                color:$text-color !important;
                font-size: 37px;
                padding-left: 5% !important;
            }
        }

        .btn:hover{
            .fa{
                color:#898989 !important;
            }
        }

        .btn:first-child{
            margin-left: 60%
        }
    }

   .nav-social-extras{
        .btn-block{
            color:$red;
            background-color:transparent;
            text-align:center;
            padding: 1%;
            margin-top: 1.5%;
            font-size: 20px;
            text-transform: uppercase;
        }
        .btn-block:hover{
            font-weight:bold;
            background-color:transparent;
            cursor:pointer;
        }
    }
}

@media(min-width: 1440px) and (max-width: 2559px){
    .nav-social{
        display:inline-flex;
        .twitter-handle{
            font-size: 34px;
            margin-left: 6%;
        }

        .btn{
            background-color:transparent !important;
            padding: 11%;
            .fa {
                color:$text-color !important;
                font-size: 37px;
                padding-left: 5% !important;
            }
        }

        .btn:hover{
            .fa{
                color:#898989 !important;
            }
        }

        .btn:first-child{
            margin-left: 60%
        }
    }

    .nav-social-extras{
        .btn-block{
            color:$red;
            background-color:transparent;
            text-align:center;
            padding: 1%;
            margin-top: 1.5%;
            font-size: 22px;
            text-transform: uppercase;
        }
        .btn-block:hover{
            font-weight:bold;
            background-color:transparent;
            cursor:pointer;
        }
    }
}

@media (min-width: 2560px) { 
   .nav-social{
        display:inline-flex;
        .twitter-handle{
            font-size: 34px;
            margin-left: 6%;
        }

        .btn{
            background-color:transparent !important;
            padding: 11%;
            .fa {
                color:$text-color !important;
                font-size: 37px;
                padding-left: 5% !important;
            }
        }

        .btn:hover{
            .fa{
                color:#898989 !important;
            }
        }

        .btn:first-child{
            margin-left: 60%
        }
    }

   .nav-social-extras{
        .btn-block{
            color:$red;
            background-color:transparent;
            text-align:center;
            padding: 1%;
            margin-top: 1.5%;
            font-size: 22px;
            text-transform: uppercase;
        }
        .btn-block:hover{
            font-weight:bold;
            background-color:transparent;
            cursor:pointer;
        }
    }
}

