@import "../../_functions.scss";
@import "../../_variables.scss";

@media (max-width: 319px)  {
    .news-teaser-1{
        margin-bottom:10%;
        figure{
            figcaption{
                color:#fff;
                position: absolute;
                left: 2em;
                display: block;
                top: 3%;
            
                span{
                    font-size:14px;
                    font-weight:bold;
                    padding:7px 10px;
                }
            }
        }
    }

    h3{
        font-size:22px;
        margin-top: 3%;
    }
    
    .list-inline {
        margin-top: 2%;
        margin-bottom: 2%;
    }

   .read-more{
        font-size: 18px;
        color:$red;
    }

    .read-more:hover{
        color:$dark-red;
    }

    /*Teaser Columns*/
    .thumbnail{
        .teaser-heading{
            text-align:center;
            font-size:28px;
            border-bottom: 2px solid $red;
            padding-bottom:.5em;
            margin:15px auto;
        }

        a{
            .img-responsive{
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                height: auto;
                width: 100%;
                margin: 0;
            }
        }

        p{
            font-size:14px;
        }
    }

    .block-grid-item{
        .thumbnail{
             a{
                .img-responsive{
                    width:100%;
                    height:100%;
                    border-radius:0;
                    margin: 0 auto;
                }
            }
        }
    }

    a.btn.btn-default{
        border:none;
        font-size: 20px;
        color: $red !important;
        margin-top:1.5%;
        text-align:center;
        width:100%;
        text-transform:uppercase;
    }
}

@media (min-width: 320px) and (max-width: 959px)  {
    .news-teaser-1{
        margin-bottom:10%;
        figure{
            figcaption{
                color:#fff;
                position: absolute;
                left: 2em;
                display: block;
                top: 3%;
            
                span{
                    font-size:14px;
                    font-weight:bold;
                    padding:7px 10px;
                }
            }
        }

        h3{
            font-size:22px;
            margin-top: 3%;

            a{
                color:$red !important;
            }
        }
    }

    .list-inline {
        margin-top: 2%;
        margin-bottom: 2%;
    }

   .read-more{
        font-size: 18px;
        color:$red;
    }

    .read-more:hover{
        color:$dark-red;
    }

    /*Teaser Columns*/
    .thumbnail{
        .teaser-heading{
            text-align:center;
            font-size:28px;
            border-bottom: 2px solid $red;
            padding-bottom:.5em;
            margin:15px auto;
        }

        a{
            .img-responsive{
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                height: auto;
                width: 100%;
                margin: 0;
            }
        }

        p{
            font-size:14px;
        }
    }

    .block-grid-item{
        .thumbnail{
             a{
                .img-responsive{
                    width:100%;
                    height:100%;
                    border-radius:0;
                    margin: 0 auto;
                }
            }
        }
    }

    a.btn.btn-default{
        border:none;
        font-size: 20px;
        color: $red !important;
        margin-top:1.5%;
        text-align:center;
        width:100%;
        text-transform:uppercase;
    }
}

@media(min-width: 960px) and (max-width: 1439px){
    .news-teaser-1{
            margin-bottom:2%;
            figure{
                figcaption{
                    color:#fff;
                    position: absolute;
                    left: 2em;
                    display: block;
                    top: 3%;
            
                    span{
                        font-size:14px;
                        font-weight:bold;
                        padding:7px 10px;
                    }
                }
            }
        }

        h3{
            font-size:22px;
            margin-top: 3%;
        }
    
        .list-inline {
            margin-top: 2%;
            margin-bottom: 2%;
        }

       .read-more{
            font-size: 18px;
            color:$red;
        }

        .read-more:hover{
            color:$dark-red;
        }

        /*Teaser Columns*/
        .thumbnail{
            .teaser-heading{
                text-align:center;
                font-size:28px;
                border-bottom: 2px solid $red;
                padding-bottom:.5em;
                margin:15px auto;
            }

            a{
                .img-responsive{
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    height: auto;
                    width: 100%;
                    margin: 0;
                }
            }

            p{
                font-size:14px;
            }
        }

        .block-grid-item{
            .thumbnail{
                 a{
                    .img-responsive{
                        width:100%;
                        height:100%;
                        border-radius:0;
                        margin: 0 auto;
                    }
                }
            }
        }

        a.btn.btn-default{
            border:none;
            font-size: 24px;
            color: $red !important;
            margin-top:1.5%;
            text-align:center;
            width:100%;
            text-transform:uppercase;
        }
}

@media(min-width: 1440px) and (max-width: 2559px){
   .news-teaser-1{
            margin-bottom:2%;
            figure{
                figcaption{
                    color:#fff;
                    position: absolute;
                    left: 2em;
                    display: block;
                    top: 3%;
            
                    span{
                        font-size:14px;
                        font-weight:bold;
                        padding:7px 10px;
                    }
                }
            }
        }

        h3{
            font-size:22px;
            margin-top: 3%;
        }
    
        .list-inline {
            margin-top: 2%;
            margin-bottom: 2%;
        }

       .read-more{
            font-size: 18px;
            color:$red;
        }

        .read-more:hover{
            color:$dark-red;
        }

        /*Teaser Columns*/
        .thumbnail{
            .teaser-heading{
                text-align:center;
                font-size:28px;
                border-bottom: 2px solid $red;
                padding-bottom:.5em;
                margin:15px auto;
            }

            a{
                .img-responsive{
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    height: auto;
                    width: 100%;
                    margin: 0;
                }
            }

            p{
                font-size:14px;
            }
        }

        .block-grid-item{
            .thumbnail{
                 a{
                    .img-responsive{
                        width:100%;
                        height:100%;
                        border-radius:0;
                        margin: 0 auto;
                    }
                }
            }
        }

        a.btn.btn-default{
            border:none;
            font-size: 24px;
            color: $red !important;
            margin-top:1.5%;
            text-align:center;
            width:100%;
            text-transform:uppercase;
        }
}

@media (min-width: 2560px) { 
   .news-teaser-1{
            margin-bottom:2%;
            figure{
                figcaption{
                    color:#fff;
                    position: absolute;
                    left: 2em;
                    display: block;
                    top: 3%;
            
                    span{
                        font-size:14px;
                        font-weight:bold;
                        padding:7px 10px;
                    }
                }
            }
        }

        h3{
            font-size:22px;
            margin-top: 3%;
        }
    
        .list-inline {
            margin-top: 2%;
            margin-bottom: 2%;
        }

       .read-more{
            font-size: 18px;
            color:$red;
        }

        .read-more:hover{
            color:$dark-red;
        }

        /*Teaser Columns*/
        .thumbnail{
            .teaser-heading{
                text-align:center;
                font-size:28px;
                border-bottom: 2px solid $red;
                padding-bottom:.5em;
                margin:15px auto;
            }

            a{
                .img-responsive{
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    height: auto;
                    width: 100%;
                    margin: 0;
                }
            }

            p{
                font-size:14px;
            }
        }

        .block-grid-item{
            .thumbnail{
                 a{
                    .img-responsive{
                        width:100%;
                        height:100%;
                        border-radius:0;
                        margin: 0 auto;
                    }
                }
            }
        }

        a.btn.btn-default{
            border:none;
            font-size: 24px;
            color: $red !important;
            margin-top:1.5%;
            text-align:center;
            width:100%;
            text-transform:uppercase;
        }
}


