@import '../variables.scss';

.carousel-card-container{
    .card-bg-lgt-blue{
        background-color: $white;
        border-bottom: 5px solid $light-blue;
        h4{
            color: $light-blue;
            padding-top: 10.5em;
            font-size: 1.25em;
            font-weight: bold;
            padding-left: 1em;
            word-wrap: break-word;
            padding-right: 3em;
        }
    }
    .card-bg-md-blue{
        background-color: $white;
        border-bottom: 5px solid $med-blue;
        h4{
            color: $med-blue;
            padding-top: 10.5em;
            font-size: 1.25em;
            font-weight: bold;
            padding-left: 1em;
            word-wrap: break-word;
            padding-right: 3em;
        }
    }
    .card-bg-dk-blue{
        background-color: $white;
        border-bottom: 5px solid $dark-blue;
        h4{
            color: $dark-blue;
            padding-top: 10.5em;
            font-size: 1.25em;
            font-weight: bold;
            padding-left: 1em;
            word-wrap: break-word;
            padding-right: 3em;
        }
    }
    .card-bg-red{
        background-color: $white;
        border-bottom: 5px solid $red;
        h4{
            color: $red;
            padding-top: 10.5em;
            font-size: 1.25em;
            font-weight: bold;
            padding-left: 1em;
            word-wrap: break-word;
            padding-right: 3em;
        }
    }
    .card-bg-green{
        background-color: $white;
        border-bottom: 5px solid $light-green;
        h4{
            color: $light-green;
            padding-top: 10.5em;
            font-size: 1.25em;
            font-weight: bold;
            padding-left: 1em;
            word-wrap: break-word;
            padding-right: 3em;
        }
    }
}
