#bh-app-body{
    padding: 1em;
    height: 87vh;
    display: flex;
    justify-content: center;
    background: rgb(246,246,246);
    background: linear-gradient(335deg, rgba(246,246,246,0.24701218377976186) 0%, rgba(253,253,253,1) 51%, rgba(245,245,245,0.16577969078256305) 100%);
    align-items: center;
}