<!--
    Sitecore using statements.
    Redacted for demo purposes
-->

<!--Concert Series Start-->
<div class="row concert-series-container">
    <div class="concert-series-div-main col-xs-12">
        <div class="concert-series-sponsor">
            <img class="concert-series-img" />
        </div>
        <div class="concert-series-text-div col-xs-12">
            <h3>Rock 'n' Roll Concert Series</h3>
        </div>
        <div class="concert-series-info-div col-xs-12">
            <p>
                Check out some of the biggest names in music who will be waiting to rock out for YOU after conquering 13.1 or 26.2 miles at the Toyota Rock &#39;n&#39; Roll Concert Series!
            </p>
        </div>
        <div class="col-xs-12">
            <ul class="concert-series-btn-lb">
                <li><p>Sort By:</p></li>
                <li><a class="btn btn-block filter-btn">Date</a></li>
                <li><a class="btn btn-block filter-btn">A-Z</a></li>
                <li><a class="btn btn-block filter-btn">City</a></li>
            </ul>
        </div>
        <div class="col-xs-12 ">
            <div class="musician-panel-div">
                @for (int i = 0; i < 12; i++)
                {
                    <div class="musician-panel">
                        <div class="musician-img-div">
                            <img class="musician-img" />
                        </div>
                        <div class="musician-info-div">
                            <h3>Band Name</h3>
                            <p>City, State</p><p>Date</p>
                        </div>
                        <div class="panel-btn-div">
                            <a class="btn btn-block hl-info-btn">Hedliner Info</a>
                            <a class="btn btn-block hl-race-details-btn">Race Details</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!--Concert Series End-->
