
$white: #ffffff;
$light-gray: #ebebeb;
$med-gray: #cccccc;
$dark-gray: #707070;

$red: #d81e05;

$light-blue: #1a9cf7;
$med-blue: #1450d2;
$dark-blue: #001a7a;

$light-green: #01a49c;
$dark-green: #008c82;