.main-container{
    width: 100%;

    .Navbar{
        header{
            background-color: #006609;
            .Nav-Title{
                text-align: right;
                width: 100%;
            }
        }
        .Nav-Drawer-Container{
            .Nav-Drawer-Header{
                button{
                    float: right;
                    margin-right: 1em;
                    margin-top: .5em;
                    margin-bottom: .5em;
                }
            }
            .MuiPaper-root{
                width: 25%;
                .Slider-Container{
                    width: 80%;
                    margin-left: 8%;
                    .MuiSlider-root{
                        margin-top: 1em;
                        color: #00189b;
                        .MuiSlider-rail{
                            height: 7px;
                        }
                        .MuiSlider-track{
                            height: 10px;
                        }
                        .MuiSlider-thumb{
                            width: 15px;
                            height: 15px;
                        }
                        .MuiSlider-mark{
                            width: 4px;
                            height: 5px;
                        }
                    }
                }
                .Race-Btn{
                    color: #006609;
                    font-weight: 400;
                    border-radius: 0;
                    width: 50%;
                    margin-top: 2em;
                    margin-left: 40%;
                }
                .Race-Btn:hover{
                    background-color: #006609;
                    color: #fff;
                    font-weight: 400;
                }
            }
        }
    }
}
