@import '../styles.scss';

.insight-container{
    display: flex;
    justify-content: center;
    background-color: $light-gray;
    width: 100%;
    height: 445px;
    .insight-main {
        width: 80%;
        margin-top: 2em;
        .cards-div{
            display: flex;
            justify-content: center;
            flex-direction: row;
        }
    }
}